





 <select id="myAtt" onchange= "myResponse()">

 
  {% for cat in Category_list %}
     <option value="{{cat.Attribute_1}}">{{cat.Attribute_1}}</option> 
     <option value="{{cat.Attribute_2}}">{{cat.Attribute_2}}</option>
     <option value="{{cat.Attribute_3}}">{{cat.Attribute_3}}</option> 
     <option value="{{cat.Attribute_4}}">{{cat.Attribute_4}}</option>
     <option value="{{cat.Attribute_5}}">{{cat.Attribute_5}}</option>
     <option value="{{cat.Attribute_6}}">{{cat.Attribute_6}}</option>
     <option value="{{cat.Attribute_7}}">{{cat.Attribute_7}}</option> 
     <option value="{{cat.Attribute_8}}">{{cat.Attribute_8}}</option>
     <option value="{{cat.Attribute_9}}">{{cat.Attribute_9}}</option>
     <option value="{{cat.Attribute_10}}">{{cat.Attribute_10}}</option>        
   
  {%endfor%}
  
  
   
  </select>

       		