

 
  <p> Values of Attributes are given below </P>


   <table>
     <tr>
      <th>Attribute1</th>
      <th>Attribute2</th>
      <th>Attribute3</th>
      <th>Attribute4</th>
      <th>Attribute5</th>
      <th>Attribute6</th>
      <th>Attribute7</th>
      <th>Attribute8</th>
      <th>Attribute9</th>
      <th>Attribute10</th>
     
      </tr>
           
      <tr>
     
      <td>
       
       
       
       <input type=text id="1" value="{{Attributes.0}}" />
        
        
        </td>
      <td> 
      
       <input type=text id="2" value="{{Attributes.1}}" />
        
        </td>
        <td>
       
       
       
       <input type=text id="3" value="{{Attributes.2}}" />
       <td>
       
       
       
       <input type=text id="4" value="{{Attributes.3}}" />
       <td>
       
       
       
       <input type=text id="5" value="{{Attributes.4}}" />
        
        
        </td>
        <td>
       
       
       
       <input type=text id="6" value="{{Attributes.5}}" />
        
        
        </td>
        <td>
       
       
       
       <input type=text id="7" value="{{Attributes.6}}" />
        
        
        </td>
        <td>
       
       
       
       <input type=text id="8" value="{{Attributes.7}}" />
        
        
        </td>
        <td>
       
       
       
       <input type=text id="9" value="{{Attributes.8}}" />
        
        
        </td>
        <td>
       
       
       
       <input type=text id="10" value="{{Attributes.9}}" />
        
        
        </td>
        

      

       
       <tr>
        <td>
        <p>
        <div id="drop-down-values_11">Loading..</div>      
          </p>
        
          </td>
         <td>
         
                 <p>
        <div id="drop-down-values_12">Loading..</div>      
          </p>
        
         </td>
          <td>
                 <p>
        <div id="drop-down-values_13">Loading..</div>      
          </p>
        
         </td>
         <td>
        <p>
        <div id="drop-down-values_14">Loading..</div>      
          </p>
        
          </td>
         <td>
        <p>
        <div id="drop-down-values_15">Loading..</div>      
          </p>
        
          </td>
        <td>
        <p>
        <div id="drop-down-values_16">Loading..</div>      
          </p>
        
          </td>
         <td>
        <p>
        <div id="drop-down-values_17">Loading..</div>      
          </p>
        
          </td>
        <td>
        <p>
        <div id="drop-down-values_18">Loading..</div>      
          </p>
        
          </td>
          <td>
        <p>
        <div id="drop-down-values_19">Loading..</div>      
          </p>
        
          </td>
        <td>
        <p>
        <div id="drop-down-values_20">Loading..</div>      
          </p>
        
          </td>
        
         </tr>
         
      </table>
      
      
 
        
  
   
  

       		